<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LA_die_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>LA_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>LA_hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>LA_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>LA_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>LA_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>balloon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>balloon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>balloon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>help_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,326},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>help_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,326},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hero_die_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hero_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hero_hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hero_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hero_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hero_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>munu_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,326},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>munu_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,326},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>pause_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,326},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>pause_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,326},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>play_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,326},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>play_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>red_balloon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>red_balloon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>red_balloon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimShit.png</string>
            <key>size</key>
            <string>{1618,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acace71c5fd4a23e8760b3bbef6e3d64:5003bfe22a3444e194801d2460768b1a:208a8114115da1af1e0c9713dccae063$</string>
            <key>textureFileName</key>
            <string>AnimShit.png</string>
        </dict>
    </dict>
</plist>
